.character-carousel {
  width: 100%;
  max-width: 1100px;
  margin: 50px auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-content {
  display: flex;
  background: #111;
  border-radius: 15px;
  overflow: hidden;
  width: 100%;
  height: 500px; /* IMPORTANTE */
}

/* IMAGEM */
.image-box {
  width: 40%;
  background: #000;
}

.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* TEXTO */
.text-box {
  width: 60%;
  padding: 30px;
  background: #3a2a1e;
  overflow-y: auto; 
font-family: 'Cinzel', serif;
color: rgb(238, 238, 238);
}


.text-box h2 {
  margin-top: 0;
  font-size: 28px;
  margin-bottom: 15px;
}

.text-box p {
  line-height: 1.6;
  font-size: 16px;
}

/* SCROLL PERSONALIZADO */
.text-box::-webkit-scrollbar {
  width: 8px;
}

.text-box::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 5px;
}

/* SETAS */
.arrow {
  background: #111;
  border: none;
  color: white;
  font-size: 30px;
  cursor: pointer;
  padding: 15px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  transition: 0.3s;
  z-index: 10;
}

.arrow:hover {
  background: #333;
}

.arrow.left {
  left: -60px;
}

.arrow.right {
  right: -60px;
}

/* RESPONSIVO */
@media (max-width: 768px) {
  .carousel-content {
    flex-direction: column;
  }

  .image-box,
  .text-box {
    width: 100%;
  }

  .arrow.left {
    left: 10px;
  }

  .arrow.right {
    right: 10px;
  }
}
