body {
    font-family: Arial, sans-serif;
    background: #2b1e14;
    margin: 0;
    padding: 0;
}
.container{
    background-color: #3a2a0f;
}
.container-div{
    background-color: #2b1e14;
    border-style: double;
}
.form-container {
    max-width: 400px;
    margin: 60px auto;
    background:  #d9b16f;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-style: double;
    border-color:  #000000;
}   

.titulo-linhas {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;

    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;

    margin: 25px 0;
    position: relative;
}

.titulo-linhas::before,
.titulo-linhas::after {
    content: "";
    flex: 1;
    height: 2px;
    background-color: #4a301d;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #4a301d;
}

.input-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    color: #4a301d;
}

.input-group label {
    font-weight: bold;
    margin-bottom: 5px;
}

.input-group input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #bbb;
    border-radius: 5px;
}

.btn {
    width: 100%;
    padding: 12px;
    background: #184f1a;
    color: white;
    font-size: 17px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background: #45a049;
}

#mensagem {
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
}

@media (max-width: 480px) {
    .form-container {
        margin: 20px;
        padding: 20px;
    }
}
