
  body {
    background-color: #3a2a1e;
    color: #d9b16f;
    font-family: 'Georgia', serif;
    align-items: center;
    justify-content: flex-start;
    padding: 0;           /*MODIFICAR DPS AS BORDAS ESQUERDA DIREITA*/
  }
  
  header {
    background-color: #3a2a1e;
    border: 2px solid #d9b16f;
    padding: 6px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  .logo_img{
    width: 5%;
    background-color: #F2DFA9;
    border-radius: 35%;
  }
  .logo {
    font-family: 'Georgia', serif;
    font-weight: bold;
    font-size: 30px;
    color: #d9b16f;
    letter-spacing: 1px;
    text-shadow: 0 0 5px #000;
  }
  .deco_frame1, .deco_frame2{
    width: 8%;
  }
  .villa{
    color: white;
  }
  .menu button {
    background-color: transparent;
    border: 1px solid #d9b16f;
    color: #d9b16f;
    font-size: 15px;
    padding: 2px 6px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Georgia', serif;
    transition: all 0.2s;
  }
  .menu button:hover {
    background-color: #d9b16f;
    color: #2b1e14;
  }
  .container {
    width: 100%;              /* LARGURA MAXIMA 100% E LARGURA MOBILE 380PX */
    background-color: #2b1e14;
    border: 2px solid #d9b16f;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 0 8px #000;
  }
  .menu button {
    background-color: transparent;
    border: 1px solid #d9b16f;
    color: #d9b16f;
    font-size: 15px;
    padding: 2px 6px;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Georgia', serif;
    transition: all 0.2s;
  }
 .menu {
    display: flex;
    margin-left: auto; /* empurra o menu para a direita */
    display: flex;
    gap: 10px; /* espaço entre os botões */
  }
   a:hover {
    background-color: #d9b16f;
    color: #2b1e14;
  }
   a{
    text-decoration: none;
   color: #d9b16f;
  }

  /*------------------------------header fim------------------------------*/
  .titulo_com_linhas {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px; /* espaço entre o texto e as linhas */
    width: 100%;
}

.titulo_com_linhas::before,
.titulo_com_linhas::after {
    content: "";
    flex: 1;
    height: 2px; /* espessura da linha */
    background-color: #8b6b47; /* cor da linha — altere se quiser */
}

.titulo_com_linhas .titulo1 {
    font-size: 22px; /* tamanho do texto */
    font-weight: bold;
}

.small-box{
  background-color: rgb(255, 238, 199, 0.10);
  border-style: double;
  padding: 15px;
  font-family: Helvetica, sans-serif;
  font-size: 110%;
  border-color:#d9b16f;
  color:#fdf1db;
}
.objetivo, .lore{
  text-align: center;
}
.moodboard{
  padding-top: 20px;
  display: flex;
  justify-content: center;
  gap: 100px;
}
.mood1{
  width: 25%;
  padding-left: 5%;
}
.mood2{
  width: 19%;
  padding-right: 5%;
}

.moddboards img.zoomed {
  position: fixed;           /* fixa na tela */
  top: 50%;                  /* central vertical */
  left: 50%;                 /* central horizontal */
  transform: translate(-50%, -50%) scale(2); /* centraliza e aplica zoom */
  z-index: 1000;             /* sobre todas as outras coisas */
  max-width: 90%;            /* limita tamanho para não ultrapassar a tela */
  max-height: 90%;
}
.credito{
  text-align: center;
}
