.container {
    width: 380px;
    border-radius: 8px;
    box-shadow: 0 0 8px #000;
    overflow: hidden;
  }
   header {
    background-color: #3a2a1e;
    border: 2px solid #d9b16f;
    padding: 6px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  .logo_img{
    width: 5%;
    background-color: #F2DFA9;
    border-radius: 35%;
  }
  .logo {
    font-family: 'Georgia', serif;
    font-weight: bold;
    font-size: 30px;
    color: #d9b16f;
    letter-spacing: 1px;
    text-shadow: 0 0 5px #000;
  }
  .deco_frame1, .deco_frame2{
    width: 8%;
  }
  .villa{
    color: white;
  }
   .menu {
    display: flex;
    margin-left: auto;                  /* empurra o menu para a direita */
    display: flex;
    gap: 10px;                          /* espaço entre os botões */
  }
  .menu button {
    background-color: transparent;
    border: 1px solid #d9b16f;
    color: #d9b16f;
    font-size: 15px;
    padding: 2px 6px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Georgia', serif;
    transition: all 0.2s;
  }
  .menu button:hover {
    background-color: #d9b16f;
    color: #2b1e14;
  }
.container {
    width: 100%;              /* LARGURA MAXIMA 100% E LARGURA MOBILE 380PX */
    background-color: #2b1e14;
    border: 2px solid #d9b16f;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 0 8px #000;
  }
  .decor-line{
    color: white;
  }

  /* --------------------------------------------HEADER---------------------------------------*/



